button {
  background: none;
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  border: 1px solid orange;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin: 20px auto;
}

.loading {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  border-bottom: transparent;
  border-top: transparent;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}